# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter / Colab
.ipynb_checkpoints/

# Data (large files should not go to GitHub)
data/raw/
data/processed/
*.mzML
*.mgf
*.msp
*.csv
*.tsv
*.parquet
*.npz

# Results
results/
*.png
*.pdf

# Mac
.DS_Store

# Misc
.env
